{% extends 'base.html.twig' %}

{% block title %}Habille tes pieds avec{% endblock %}

{% block body %}
    <img src="{{ asset('build/img/logo_w.png') }}" alt="Logo SHOE">
    <h1>Habille tes <span>pieds</span> !</h1>
{% endblock %}
