{% extends 'base.html.twig' %}

{% block title %}Habille tes pieds avec{% endblock %}

{% block body %}
    <h1>Welkhome !</h1>
    <img src="{{ asset('build/img/logo_w.png') }}" alt="Logo SHOE">
{% endblock %}
